.header {
    background: $brand;
    //background: url(/img/red-tablecloth.jpg);
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;    
    padding: $s-size 0;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    text-shadow: 3px 3px rgba(25, 10, 235, .5);
    h1 {
        margin: 0;
    }
}