.page-header {
    background: rgb(240, 237, 237);
    margin-bottom: $l-size;
    padding: $l-size 0;
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__title {
    font-weight: 300;
    color: $dark-grey;
    margin: 0;
    span {
        font-weight: 700;
    }
}
