// This file contains custom SCSS variables the we can reuse and change gloabally in one location

// Colors
$dark-grey: rgb(77, 77, 77);
$grey: #666;
$wine: #8b0505;
//$brand: rgb(186, 108, 61);
//$brand: #E44B03;
//$brand: rgb(161, 55, 5);
$brand: #8b0505;
$brand2: blue;
$brand3: yellow;
$drop-shadow-1: #058CBC;
$drop-shadow-2: rgb(161, 7, 14);
//$off-white: #f1eb8d;
//$off-white: #FCDE9A;
//$off-white: rgb(247, 226, 181);
//$off-white: rgb(246, 235, 183);
$off-white: rgb(245, 230, 169);
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
